<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
    <form action="/set_user" method="post">
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input name="username" type="text" class="form-control" id="username" placeholder="username">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>


  <div class="container">
    <h1>YOUR USERNAME IS: <%= username %> </h1>
    <!-- BEGINNING OF ROW -->
    <div class="row">
      <a href="/users"><button type="button" class="btn btn-primary" name="button">SEE ALL USERS</button></a>
      <br>
    </div>
    <!-- END OF ROW -->
    <br>
    <div class="row">
      <a href="/second_page"><button type="button" class="btn btn-primary" name="button">SEE SECOND PAGE</button></a>
    </div>
    <br>
    <div class="row">
      <a href="/wall_page"><button type="button" class="btn btn-primary" name="button">SEE WALL PAGE</button></a>
    </div>
  </div>
  <!-- END OF CONTAINER -->

</body>
</html>
